body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#ending {
    background-color: rgb(234, 200, 200);
}

#endText {
    color: red;
    font-size: large;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*--------------------------HEADER------------------------------*/

#header {
    text-align: center;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

/*--------------------------CONTENT------------------------------*/

#content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(121, 67, 1, 0.304);
    align-self: center;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}

#startBox {
    width: 90%;
    height: 50%;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#startButton {
    width: 100%;
    padding: 10px;
}

#imgBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

img {
    height: 500px;
    width: auto;
}

#dialogBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(227, 218, 201);
}

#choiceBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(227, 218, 201);
    width: 100%;
}

/* CSS */
.button-89 {
    --b: 3px;
    /* border thickness */
    --s: 0.45em;
    /* size of the corner */
    --color: #f9f9fb;

    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),
            #ffffff00 90deg,
            var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition:
        0.3s linear,
        color 0s,
        background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: 0.6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
}

.button-89:active {
    background: var(--color);
    color: #000000;
}

.itemImg {
    height: 100px;
    width: 100px;
}

/*--------------------------FOOTER------------------------------*/

#footer {
    width: 100%;
    height: auto;
    margin-top: auto;
}